<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXsfFaerRMyTFrRJwYehRc7zQ-vIhjMKs</string>
	<key>GCM_SENDER_ID</key>
	<string>373587465164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamstaccato.staccato-iOS</string>
	<key>PROJECT_ID</key>
	<string>staccato-4a4bc</string>
	<key>STORAGE_BUCKET</key>
	<string>staccato-4a4bc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373587465164:ios:cf2dd6a49cfec4a2ea4369</string>
</dict>
</plist>